.actions {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 13px;
}

.icon{
  width:25px;
  height:25px;
  color:rgb(255, 166, 0);
}

.actions > button{
  cursor:pointer;
  padding: 2px;
  background: transparent;
  border: nome;
}

.actions .disabled{
  opacity: 0.5;
  cursor: not-allowed;
}