.note-menu{
  display:flex;
  flex-direction:column;
  width: 400px;
  min-width: 400px;
  min-height: 95px;
  padding: 20px;
  background: var(--dark-gray);
}

.note-menu div:not(.buttons){
  display: flex;
  flex-direction:column;
}

.note-menu div label {
  font-weight: 300;
  font-size:24px;
  color: white;
  margin-bottom: 8px;
}

.note-menu div input{

  height: 40px;
  margin-bottom:20px;
}

.note-menu div  textarea{
  resize: none;
}

.note-menu div  textarea, .note-menu div input{
  font-size: 1rem;
  border: 0;
  border-radius:4px;
  padding:5px;
}

.note-menu div textarea::-webkit-scrollbar{
  width:5px;
}
.note-menu div textarea::-webkit-scrollbar-track{
  background: transparent;
}
.note-menu div textarea::-webkit-scrollbar-thumb{
  background: transparent;
}
.note-menu div textarea:hover::-webkit-scrollbar-thumb{
  background: #888;
}

/*Icons*/

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  grid:10px;
}

.buttons > button{
  cursor: pointer;
  padding: 2px;
  background: transparent;
  border: none;
}

.icon-cancelar, .icon-confirma{
  width: 25px;
  height: 25px;
  margin: 4px;
  
}
.icon-cancelar{
  color: rgb(228, 47, 47);
}
.icon-confirma{
  color: rgb(40, 218, 40);
}